@font-face {
    font-family: "MontserratAlternates-Bold";
    src: local("MontserratAlternates-Bold"),
        url("../fonts/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: "MontserratAlternates-ExtraBold";
    src: local("MontserratAlternates-ExtraBold"),
        url("../fonts/MontserratAlternates-ExtraBold.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Light";
    src: local("MontserratAlternates-Light"),
        url("../fonts/MontserratAlternates-light.ttf");
}

@font-face {
    font-family: "MontserratAlternates-SemiBold";
    src: local("MontserratAlternates-SemiBold"),
        url("../fonts/MontserratAlternates-SemiBold.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Medium";
    src: local("MontserratAlternates-Medium"),
        url("../fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Regular";
    src: local("MontserratAlternates-Regular"),
        url("../fonts/MontserratAlternates-Regular.ttf");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'MontserratAlternates-Regular';
    color: #A6A6A6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.header {
    background-color: black;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
.wrapper__header{
    display: flex;
    display: block;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.header__nav__none{
    display: none;
}
/* .header__logo{
    display: flex;
} */
.header__logo2 {
    max-width: 67px;
    width: 100%;
    margin-right: 10px;
}
.nav__block1{
    display: block;
}
.nav__block2{
    display: none;
    width: 100%;
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 18px;
    z-index: 10;
}
.nav__block2__yes{
    display: block;
}

.header__nav__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.header__nav__nav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.nav__close{
    display: flex;
    flex-direction: row-reverse;
    font-family: "MontserratAlternates-Bold";
    font-size: 36px;
    color: #FFC94F;
    padding-right: 40px;
    margin-bottom: -30px;
}

.font__14-700 {
    color: #FFF;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.font__decor {
    text-decoration: none;
}

.font__14-700__yellow {
    color: #FFC94F;
    text-decoration: none;
}

.font__14-700__black {
    color: #000000;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.header__podborka {
    display: flex;
    align-items: center;
}

.podborka__oval {
    position: relative;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    border-radius: 15px;
    background-color: #FFC94F;
}

.podborka__oval__treugol {
    position: relative;
    background: rgb(0, 0, 0);
    /* border-radius: 10px; */
    /* padding: 20px;
    color: #fff; */
}

.podborka__oval__treugol::after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 7px;
    bottom: -19px;
    /* Положение треугольника */
    border: 5px solid transparent;
    /* Прозрачные границы */
    border-top: 6px solid rgb(0, 0, 0);
    /* Добавляем треугольник */
}
.spisok{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: -120px;
    width: 177px;
    background-color: #FFC94F;
    color: #FFF;
    border-radius: 10px;
    list-style-type: disc;
    list-style-position: outside;
    /* border: solid 3px cornsilk; */
}
.spisok__text{
    color: #FFF;
    text-decoration: none;
}

.menu__element{
    display: none;
    margin-left: 40px;
    margin-bottom: 20px;
}
.header__pochta {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-right: 10px;
}
.header__pochta2{
    display: none;
    position: relative;
    /* padding-left: 30px;
    margin-right: 10px; */
    padding-top: 25px;
    padding-left: 15px;
}
.header__pochta::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -2px;
    width: 21px;
    height: 21px;
    background-image: url(../img/email.png);
    background-size: 21px 21px;
}
.header__pochta2::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 26px;
    width: 21px;
    height: 21px;
    background-image: url(../img/email.png);
    background-size: 21px 21px;
}
.tel__block{
    display: block;
}
.tel__block2{
    display: none;
    padding-top: 15px;
}

.tel-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;  
    width: 195px;
    min-width: 150px;
    height: 44px;
    border: solid; 
    text-decoration: none;
}


.lighthouse__main {
    display: flex;
}
.header__burger{
    display: none;
    position: relative;
    width: 40px;
    height: 28px;
    margin-right: 10px;
    margin-left: 15px;
}
.burger__line{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    left: 0px;
}
.line1{
    top: 0px;
}
.line2{
    top: 50%;
    transform: translateY(-50%);
}
.line3{
    bottom: 0px;
}
.pochta__tel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lighthouse__main1 {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-top: 6%;
}

.main__title {
    margin-right: 10px;
}

.lighthouse__main1_1 {
    display: flex;
    flex-direction: column;
    max-width: 561px;
    margin-right: 71px;
}

.lighthouse__main2 {
    display: flex;
    width: 50%;
}

.scale__img_1 {
    width: 100%;
    object-fit: contain;
}

.font__light__title {
    font-family: "MontserratAlternates-ExtraBold";
    color: #FFC94F;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

.font__36-800_grey {
    font-family: "MontserratAlternates-ExtraBold";
    color: #535353;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

h1 {
    color: #8C8C8C;
    font-family: "MontserratAlternates-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.lite__h1 {
    padding-top: 7%;
    margin-right: 10px;
}

.button__light {
    max-width: 197px;
    width: 100%;
    height: 44px;
    border: 3px solid #2196F3;
    background-color: #FFC94F;
    margin-top: 8%;
    text-align: center;
    padding: 10px 16px;
    display: block;
    transition: all 0.3s ease 0s;
}

.button__light:hover {
    opacity: 0.8;
}

h2 {
    color: #535353;
    font-family: "MontserratAlternates-Bold";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}

.list2__title {
    padding-top: 85px;
    margin-bottom: 50px;
}

.font__title {
    font-family: "MontserratAlternates-Bold";
    color: #FFC94F;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

.uslugi__title {
    padding-top: 85px;
    margin-bottom: 25px;
}

.list__content {
    display: flex;
}

.list__content1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 40px; */
    width: 25%;
    margin-right: 10px;
}

.list__content2 {
    display: flex;
    width: 75%;
    padding-left: 20px;
}

.scale__i2 {
    object-fit: contain;
    width: 100%;
}

.font__18-700__yellow {
    color: #FFC94F;
    font-family: "MontserratAlternates-Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.on__yellow {
    color: #FFC94F;
    font-family: "MontserratAlternates-Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 20px;
}

.font__14-700__black_bold {
    font-family: "MontserratAlternates-ExtraBold";
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
}

.on__black {
    font-family: "MontserratAlternates-ExtraBold";
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    margin-bottom: 30px;
}

.content_toggle {
    opacity: 1;

}

.content_block {
    display: none;
}

.content__block2 {
    margin-bottom: 40px;
}

.list2__block1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list2__button {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    width: 100%;
    height: 44px;
    border: 3px solid #2196F3;
    background-color: rgba(61, 79, 100, 1);
    justify-content: center;
    align-content: center;
    padding: 10px 16px;
    transition: all 0.3s ease 0s;
    margin-bottom: 40px;
    text-decoration: none;
}

.list2__button:hover {
    opacity: 0.8;
}

.font__14-700__white {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.uslugi__0 {
    display: flex;
    flex-direction: column;
}

.uslugi__1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
    /* margin-bottom: 25px; */
}

.uslugi__1-1 {
    display: flex;
    position: relative;
    max-width: 855px;
}

.uslugi__img1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.font__16-700__extrabold__black {
    color: #535353;
    font-family: "MontserratAlternates-ExtraBold";
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}

.uslugi__text1 {
    margin-left: 90px;
}

.uslugi__text__none {
    display: none;
    margin-left: 90px;
    max-width: 855px;
}

.uslugi__text__block {
    display: block;
}
.rect__padd{
    position: relative;
    padding-top: 6px; 
}
.uslugi__img__rectangle{
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 10px 15px;
    border-color: transparent transparent transparent #FFC94F;
    transform: rotate(90deg);
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
    padding-left: 20px;
    /* padding-top: 10px; */
}
.img__rectangle__none {
    display: none;
}

.uslugi__img__x {
    display: none;
    position: absolute;
    top: -6px;
    left: -42px;
    font-family: "MontserratAlternates-ExtraBold";
    font-size: 27px;
    color: #FFC94F;
    margin: 0 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.img__x__block {
    display: block;
}

.new__title {
    padding-top: 85px;
    margin-bottom: 75px;
}

.wrapper__new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
    gap: 40px;
    margin-bottom: 65px;
}
 /* .wrapper__new_1{
        display: flex;
        justify-content: space-around;
        width: 50%;
 } */
/* .wrapper__new_2{
        display: flex;
        justify-content: space-around;
        width: 50%;
 } */
.new__img2 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;

}

.new__img2-1 {
    max-width: 80%;
    width: 100%;
}

.new__img2-2 {
    /* max-width: 45%; */
    width: 45%;
    height: 45%;
    margin-top: -65px;
}

.new__text1 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 15px;
}

.new__text2 {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.new__text1-1 {
    margin-bottom: 10px;
}

.new__ul {
    padding-left: 25px;
    padding-right: 5px;
}

.new__ul2 {
    font-size: 18px;
    list-style-type: disc;
    list-style-position: outside;
    color: yellow;
}

.li__text {
    font-size: 14px;
    color: #A6A6A6;
}

.new__cena1 {
    /* margin-right: auto;  
    padding-left: 14px; */
    padding-top: 10px;
}

.font__20-700__black {
    color: #535353;
    font-family: "MontserratAlternates-Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.new__button2 {
    display: flex;
    padding-top: 35px;
    width: 100%;
    justify-content: center;
}
.new__button {
    display: flex;
    flex-wrap: wrap;
    max-width: 245px;
    width: 100%;
    height: 45px;
    background-color: rgba(61, 79, 100, 1);
    justify-content: center;
    align-content: center;
    padding: 10px 16px;
    transition: all 0.3s ease 0s;
    /* margin-bottom: 40px; */
    text-decoration: none;
    color: #FFF;
}

.new__button:hover {
    opacity: 0.8;
}



.end__button {
    display: flex;
    flex-wrap: wrap;
    width: 214px;
    height: 44px;
    background-color: rgba(243, 198, 80, 1);
    justify-content: center;
    align-content: center;
    padding: 10px 16px;
    transition: all 0.3s ease 0s;
    /* margin-bottom: 40px; */
    text-decoration: none;
    color: black;
    font-family: "MontserratAlternates-ExtraBold";
}

.end__button:hover {
    opacity: 0.8;
}

.end__button2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* margin: 0 auto; */
}

.end__block1 {
    display: flex;
    margin-bottom: 20px;
}

.end__img1 {
    position: relative;
    max-width: 27%;
    width: 100%;
}

.end__img1__x {
    margin-left: -40px;
    padding-left: 20px;
}

.end__text1 {
    position: absolute;
    top: 54px;
    left: 26px;
}

.font__20-800__grey {
    color: #505050;
    font-family: "MontserratAlternates-ExtraBold";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    text-decoration: none;
}

.end__text__group1 {
    display: flex;
    justify-content: space-between;
    max-width: 73%;
    width: 100%;
    padding-top: 50px;
}

.end__text__x {
    margin-right: 30px;
}

.end__text2 {
    text-decoration: none;
    color: black;
}

.end__text22 {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.end__opacity {
    opacity: 0.2;
}

.end__opacity2 {
    opacity: 0.6;
}

.marg__bottom2 {
    padding-left: 5px;
    margin-top: -10px;
}

.end__text3 {
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

.marg__bottom {
    margin-bottom: 30px;
}

.end__text4 {
    opacity: 0.6;
}

.group1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pr {
    display: flex;

}

.pr1 {
    width: 17%;
    /* width: 217px; */
    /* width: 100%; */
    flex-shrink: 100;
    background-color: #FFC94F;
}

.pr2 {
    width: 50%;
    /* width: 640px; */
    /* width: 100%; */
    flex-shrink: 1;
    background-color: #2196F3;
}

.pr3 {
    width: 33%;
    /* width: 422px; */
    /* width: 100%; */
    flex-shrink: 100;
    background-color: aqua;
}

.wrapper__end {
    max-width: 1085px;
    margin: 0 auto;
}

.end__base1 {
    width: 60%;
}

.end__base2 {
    width: 40%;
    padding-right: auto;
}

.base1__img {
    position: relative;
}

.font__24-800__grey {
    color: #535353;
    font-family: "MontserratAlternates-ExtraBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 34px;
}

.base1__text {
    position: absolute;
    top: 45px;
    left: 110px;
}

.end__base {
    display: flex;
}

.end__form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-right: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.form__text {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.form__email {
    /* max-width: 405px; */
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.form__textarea {
    width: 100%;
    margin-bottom: 10px;
}

.form__button {
    max-width: 214px;
    width: 100%;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(243, 198, 80, 1);
    justify-content: center;
    align-content: center;
    padding: 10px 16px;
    transition: all 0.3s ease 0s;
    /* margin-bottom: 40px; */
    text-decoration: none;
    color: black;
    font-family: "MontserratAlternates-ExtraBold";
}

.end__button:hover {
    opacity: 0.8;
}

.form__button2 {
    display: flex;
    margin-bottom: 17px;
    justify-content: flex-end
}
.wrapper__footer{
    padding-left: 20px;
    padding-right: 20px;
}
.footer__phon {
    background-color: rgb(61, 79, 100);
}

.footer__container {
    display: flex;
    gap: 15px;
    /* grid-template-columns: 0.5fr 1fr 1fr 1fr; */
    justify-content: space-between;
} 

.footer__col1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 70px;
    margin-bottom: 50px;
}
.logo__scale{
    width: 100%;
}
.logo__scale2{
    width: 100%; 
}
.footer__col2:hover{
    color: #FFC94F;
}
.footer__col2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
}

.footer__col3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
}

.footer__col4 {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
}
.col4__col__1{
    display: flex;
}
.hcol__4__2{
    display: flex;
}
.col__4__2{
    display: flex;
    flex-direction: column;
}
.hcol__4__3{
    display: flex;
}
.col__4__3{
    display: flex;
    flex-direction: column;
}
.col4__col__2{
    display: flex;
    flex-direction: column;
}

.pravka__coord{
    position: absolute;
    top: 165px;
    left: -25px;
}

.font__14-600__white {
    color: #FFF;
    font-family: "MontserratAlternates-ExtraBold";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.font__14-400__white{
    font-family: 'MontserratAlternates-Regular';
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.class__yellow{
    color: #FFC94F;
}
.logo__scale2__dubl{
    display: none;
}
.novisibily4{
    display: none;
}
/* ===========POINTERS============= */
/* =============================================
================================================
ВТОРАЯ СТРАНИЧКА - index1
================================================
================================================ */
.company1_i1{
    padding-top: 20px;
    margin-bottom: 60px;
}
.company2_i1{
    margin-bottom: 35px; 
}
.novisibily1_i1{
    display: block;
}
.novisibily2_i1{
    display: none;
}
.font__24-700__gray{
    font-family: "MontserratAlternates-Bold";
    color: #535353;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
.box_i1{
    width: 100%;
    height: 470px;

}
.nav0_i1{
    display: flex;
}
.nav_i1{
    display: grid;
    /* width: 70%; */
    grid-template-columns: 131px 318px 183px 253px;
    grid-template-rows: 53px;
    gap: 5px;
    margin-bottom: 20px;
    padding-left: 35px;
}
.nav_i3{
    display: grid;
    /* width: 70%; */
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    gap: 5px;
    margin-bottom: 70px;
    column-gap: 10px;
    row-gap: 10px;
    /* padding-left: 35px;   */
}
.item1 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .contain1_i3{
    width: 100%;
  }
  .contain2_i3{
    width: 27%;
    display: flex;
    flex-direction: column;
  }
  .contain3_i3{
    width: 73%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .contain22_i3{
    margin-left: 20px;
    margin-right: 20px;
  }
 .filtr_i3{
    margin-bottom: 20px;
    color: #535353;
    font-family: "MontserratAlternates-ExtraBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
 }
 .power1_i3{
    color: #535353;
    margin-bottom: 20px;
 }
 input[type="range"] {
    appearance: none;
    accent-color: #FFC94F;
    height: 3px;
    background-color: #FFC94F;
  } 
  .power2_i3{
    display: flex;
    justify-content: space-between;
  }
.text1__active_i1{
    display: none;
}
.mark1_i1{   
    font-family: "MontserratAlternates-SemiBold";
    color: #535353;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.marker1_i1{
background: #3D4F64;
color: white;
}
.text2__text_i1{
    margin-bottom: 71px;
}
.text_i1{
    margin-bottom: 27px;
    line-height: 24px;
}
.text1_i1{
    display: block;
    margin-bottom: 50px;
}
.text2_i1{
    display: none;
}
.text3_i1{
    display: none;
}
.text4_i1{
    display: none;
}
.block1_i1{
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 100px;
}
.block2_i1{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    padding-left: 10px;
    margin-right: 10px;
}
.block2__img_i1{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}  
.img_i1-1{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.block2__text1_i1{
    display: flex;
    align-items: center;
    height: 53px;
    margin-bottom: 5px;
}
.marker2_i1{
    max-width: 302px;
    height: 53px;
    border-radius: 2px;
    background: #3D4F64;
    color: white;
    padding-left: 25px;
    margin-left: -25px;
}
.block2__text2_i1{
    padding-top: 10px;
    margin-bottom: 27px;
}
.font__14-700__grey{
    color: #535353;
    font-family: "MontserratAlternates-Bold";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
.scale_i1{
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}
.b1{
    display: block;
}
.novisibily1_i1{
    display: block;
}

.yellow{
    background: #FFC94F
}
/* ==========Третья страница========== */
/* /* ==================================== */
.nav_i2{
    display: grid;
    /* width: 100%; */
    grid-template-columns: 250px 223px 223px 223px 223px;
    grid-template-rows: 106px;
    gap: 35px;
    margin-bottom: 30px;
    /* padding-left: 35px; */
}








@media (max-width: 1315px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .wrapper__new {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrapper__end {
        padding-left: 20px;
        padding-right: 20px;
    }
    .lighthouse__main1_1 {
        margin-right: auto;
    }

    .lighthouse__main1 {
        padding-left: 20px;
    }

    .lighthouse__main2 {
        padding-top: 10px;
    }
    .nav_i2{
        width: 100%;
        grid-template-columns: auto auto auto auto auto;
        gap: 20px;
    }
}

@media (max-width: 960px) {
    .list__content1{
        min-width: 220px;
    }
    .list__content2{
        margin-top: -40px;
    }
    .nav_i1{
        width: 100%;
        grid-template-columns: auto auto auto auto;
    }
    .mark1_i1 {
        font-size: 13px;
        font-weight: 400;
    }
    .nav_i2 {
        gap: 5px;
}
}
@media (max-width: 860px) {
    .base1__text{
        margin-left: -10px;
    }
    .list__content2{
        margin-top: 0px;
        padding-left: 0px;
    }
    .header__burger{
        display: block;
    }
    .nav__block1{
        display: none;
    }
    
    .spisok{
        top: 32px;
        width: 200px;
        left: -139px;
        z-index: 10;
    }
    .lighthouse__main {
        flex-direction: column;
        align-items: center;
    }
    .lighthouse__main1 {
        width: 100%;
        justify-content: center;
    }
   
    .lighthouse__main1_1 {
    margin-right: 0;
    }
    .lighthouse__main2 {
        width: 85%;
        padding-top: 30px;
    }
    .list__content {
        flex-direction: column;
        align-items: center;
    }
    .list2__title{
        text-align: center;
    }
    .list__content1 {
        width: 100%;
        align-items: center;
    }
    .list__content2 {
        display: flex;
        width: 85%;
    }
    .uslugi__title{
        text-align: center; 
        padding-top: 75px;
        margin-bottom: 10px;
    }
    .new__title{
        text-align: center; 
        padding-top: 80px;
        margin-bottom: 40px;
    }
    .new__img2 {
        align-items: center;
        align-self: self-end;
        /* padding-top: 30px; */
    }
    .new__button2 {
        /* align-content: center */
        justify-content: center;
    }
    .new__img2-2 {
        margin-top: 0px;
    }
    .new__img2-1 {
        padding-top: 35px;
    }
    .wrapper__new {
        grid-template-columns: 1fr 1fr;
}
.list2__title {
    padding-top: 75px;
    margin-bottom: 30px;
}
.uslugi__1{
    padding-top: 15px;
    gap: 15px;
}
.mark1_i1 {
    font-size: 11px;
    font-weight: 400;
}
.nav_i2 {
    gap: 0px;
}
}

@media (max-width: 650px) {
    .end__base2{
        width: 80%;
    }
    .wrapper__new{
        grid-template-columns: 1fr; 
        width: 80%; 
    }
    .wrapper__new__0{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .end__base{
        flex-direction: column;
        align-items: center;
    }
    .end__block1{
        flex-direction: column;
        align-items: center; 
    }
    .end__img1{
        padding-top: 10px;
    }
    .end__text__group1{
        flex-direction: column;
        align-items: center; 
    }
    .end__text__x{
        padding-top: 40px;
    }
    .header__pochta2{
        display: block;
    }
    .tel__block2{
        display: block;
    }
    .tel__block{
        display: none;
    }
    .header__pochta{
        display: none;
    }
    .company1_i1 {
        margin-bottom: 30px;
    }
    .font__24-800__grey {
    font-family: "MontserratAlternates-Bold";
    color: #535353;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}
.mark1_i1 {
    font-family: "MontserratAlternates-SemiBold";
    color: #535353;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* z-index: 10; */
}
.marker1_i1 {
    background: #3D4F64;
    color: white;
    /* z-index: -1; */
}
.block1_i1 {
    margin-bottom: 35px;
}
/* ========= */
.novisibily1_i1{
    display: none;
  }
  .novisibily2_i1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .novisibily4{
display: block;
}
  .box1_i1{
    display: flex;
justify-content: space-between;
margin-bottom: 30px;
  }
  .b1_i1{
    font-family: "MontserratAlternates-SemiBold";
    color: #535353;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
}
.galka1_i1{
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }
  .galka11_i1{
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 13px;
    transform: rotate(180deg);
  }
  .galka12_i1{
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 13px;
    transform: rotate(180deg);
  }
  .galka13_i1{
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 13px;
    transform: rotate(180deg);
  }
  .galka14_i1{
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 13px;
    transform: rotate(180deg);
  }
  .gal1_i1{
    position: absolute;
  width: 2px;
  height: 12px;
  background-color: #535353;
  left: 12px;
  top: 5px;
  transform: rotate(45deg);
}
.gal2_i1{
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #535353;
    left: 4px;
    top: 6px;  
    transform: rotate(-45deg);
}
.b111_i1{
    display: none;
  }
.text11_i1{
    display: none;
}  
.b222_i1{
    display: none;
  }
.text22_i1{
    display: none;
}  
.b333_i1{
    display: none;
  }
.text33_i1{
    display: none;
}  
.b444_i1{
    display: none;
  }
.text44_i1{
    display: none;
}  

.novosibily3{
display: none;
}
.novisibily4{
display: flex;
flex-direction: column;
}
.block2__text2_i1 {
padding-left: 20px;
}
.block2__text1_i1{
padding-bottom: 20px;
padding-left: 20px;
height: 0px;
font-family: "MontserratAlternates-SemiBold";
color: #535353;
font-size: 16px;
font-weight: 500;
}
.mob__img1_i1{
display: flex;
justify-content: center;
width: 100%;
}
.mob__img2_i1{
width: 95%;
object-fit: contain;
margin-bottom: 30px;
}
}
@media (max-width: 600px) {
    .hcol__4__1{
        display: none;
    }
    .footer__col1{
        display: flex;
        flex-direction: row;
    }
    .footer__col4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .logo__scale2{
        display: none;
     }
     .logo__scale{
        display: flex;
        width: 77%;
        padding-left: 10px;
        padding-bottom: 20px;
     }
    /* ==========GRID========== */
    .col__4__2{
        flex-direction: row; 
    }
    .col__4__3{
        flex-direction: row; 
    }
    .col4__col__2{
        flex-direction: row;
    }
    .wrapp__col4{
        display: flex;
        flex-wrap: wrap;
    }
    .footer__container{
        display: grid;
        row-gap: 0px;
        column-gap: 0px;
        justify-items : center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px auto auto auto auto;
    }
    .logo__scale2__dubl{
        display: flex;
        /* margin-top: -10px; */
        padding-top: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-self : center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
     }
      .footer__col1{
        padding-top: 20px;
        padding-left: 10px;
        margin-bottom: 15px;
        width: 60%;
        justify-self : start;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .footer__col2{
        padding-top: 25px;
        padding-left: 10px;
        margin-bottom: 30px;
        width: 90%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .footer__col3{
        margin-bottom: 30px;
        padding-top: 25px;
        padding-left: 20px;
        width: 90%;
        justify-self : end;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .footer__col4{
        display: flex;
        justify-content: center;
        flex-direction: row;
        grid-auto-rows: auto;
        padding-top: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        justify-self : center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }   
      
}
@media (max-width: 450px) {
    .base1__text{
        font-size: 18px;
    }
    .end__base2 {
        width: 90%;
    }
    .end__text1{
        font-size: 18px; 
    } 
    .uslugi__text1{
        margin-left: 55px;
    } 
    .uslugi__text__none {
        margin-left: 40px;
}
    .list__content1{
        align-items: start;
    }
}
@media (max-width: 350px) {
    .l__house{
        font-size: 26px;
    }
    .rect__padd{
        margin-right: 20px;
    }
    .uslugi__text1{
        font-size: 12px;
    }  
    .wrapper__new{
        margin-right: 40px;
    }
    .end__base1 {
        margin-right: 115px;
        font-size: 10px;
    }
    .base1__text{
        font-size: 14px;
        left: 91px;
    }
    .wrapper__footer{
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer__col3{
        padding-left: 0px;
    }
    .f__14-12{
        font-size: 12px;
    }
 
    .end__text2{
        font-size: 10px;
    }
    .end__img1__x {
        margin-left: -65px;
        margin-bottom: 0px;
        padding-top: 24px;
    }
    .end__text__group1{
        padding-top: 33px;
    }
    .b1_i1 {
    padding-left: 0px;
}
.nav__close{
    padding-right: 15px;
}
}