@font-face {
    font-family: "MontserratAlternates-Bold";
    src: local("MontserratAlternates-Bold"),
        url("../fonts/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: "MontserratAlternates-ExtraBold";
    src: local("MontserratAlternates-ExtraBold"),
        url("../fonts/MontserratAlternates-ExtraBold.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Light";
    src: local("MontserratAlternates-Light"),
        url("../fonts/MontserratAlternates-light.ttf");
}

@font-face {
    font-family: "MontserratAlternates-SemiBold";
    src: local("MontserratAlternates-SemiBold"),
        url("../fonts/MontserratAlternates-SemiBold.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Medium";
    src: local("MontserratAlternates-Medium"),
        url("../fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: "MontserratAlternates-Regular";
    src: local("MontserratAlternates-Regular"),
        url("../fonts/MontserratAlternates-Regular.ttf");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'MontserratAlternates-Regular';
    color: #A6A6A6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.header {
    background-color: black;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

/* .header__logo{
    display: flex;
} */
.header__logo2 {
    max-width: 67px;
    width: 100%;
    margin-right: 10px;
}

.header__nav__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.font__14-700 {
    color: #FFF;
    font-weight: 700;
    line-height: normal;
}

.font__decor {
    text-decoration: none;
}

.font__14-700__yellow {
    color: #FFC94F;
    text-decoration: none;
}

.font__14-700__black {
    color: #000000;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.header__podborka {
    display: flex;
    align-items: center;
}

.podborka__oval {
    position: relative;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    border-radius: 15px;
    background-color: #FFC94F;
}

.podborka__oval__treugol {
    position: relative;
    background: rgb(0, 0, 0);
    /* border-radius: 10px; */
    /* padding: 20px;
    color: #fff; */
}

.podborka__oval__treugol::after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 7px;
    bottom: -19px;
    /* Положение треугольника */
    border: 5px solid transparent;
    /* Прозрачные границы */
    border-top: 6px solid rgb(0, 0, 0);
    /* Добавляем треугольник */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* top: 30px; */
    left: 12px;
    background-color: #FFC94F;
    min-width: 220px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header__pochta {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-right: 10px;
}

.header__pochta::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -2px;
    width: 21px;
    height: 21px;
    background-image: url(../img/email.png);
    background-size: 21px 21px;
}

/* Адаптив блока с телефоном */
.header__tel__rect {
    max-width: 100%;
}

/* Объединяем прямоугольник с содержимым */
.tel__rect {
    display: flex;
    position: relative;
    width: 195px;
    height: 44px;
    background-image: url(../img/Rectangle28-2.png);
    background-repeat: no-repeat;
}

/* Смещение телефона внутри прямоугольника */
.header__tel-1 {
    position: absolute;
    left: 20px;
    top: 12px;
}

/* Телефон с номером */
.header__tel-2 {
    display: block;
    position: relative;
    padding-left: 30px;
}

.header__tel-2::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -2px;
    width: 21px;
    height: 21px;
    background-image: url(../img/Phone1.png);
    background-size: 21px 21px;
}

.lighthouse__main {
    display: flex;
}

.lighthouse__main1 {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-top: 6%;
}

.main__title {
    margin-right: 10px;
}

.lighthouse__main1_1 {
    display: flex;
    flex-direction: column;
    max-width: 561px;
    margin-right: 71px;
}

.lighthouse__main2 {
    display: flex;
    width: 50%;
}

.scale__img_1 {
    width: 100%;
    object-fit: contain;
}

.font__light__title {
    font-family: "MontserratAlternates-ExtraBold";
    color: #FFC94F;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

.font__36-800_grey {
    font-family: "MontserratAlternates-ExtraBold";
    color: #535353;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

h1 {
    color: #8C8C8C;
    font-family: "MontserratAlternates-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.lite__h1 {
    padding-top: 7%;
    margin-right: 10px;
}

.button__light {
    max-width: 197px;
    width: 100%;
    height: 44px;
    border: 3px solid #2196F3;
    background-color: #FFC94F;
    margin-top: 8%;
    text-align: center;
    padding: 10px 16px;
    display: block;
    transition: all 0.3s ease 0s;
}

.button__light:hover {
    opacity: 0.8;
}

h2 {
    color: #535353;
    font-family: "MontserratAlternates-Bold";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}

.list2__title {
    padding-top: 136px;
    margin-bottom: 50px;
}

.font__title {
    font-family: "MontserratAlternates-Bold";
    color: #FFC94F;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
}

.list__content {
    display: flex;
}

.list__content1 {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    width: 25%;
    margin-right: 10px;
}

.list__content2 {
    display: flex;
    width: 75%;
    object-fit: contain;
}

.font__18-700__yellow {
    color: #FFC94F;
    font-family: "MontserratAlternates-Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}
.on__yellow{
    color: #FFC94F;
    font-family: "MontserratAlternates-Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 20px;
}
.font__14-700__black_bold{
    font-family: "MontserratAlternates-ExtraBold";
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
}
.on__black{
    font-family: "MontserratAlternates-ExtraBold";
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    margin-bottom: 40px;
}
.content_toggle{
    opacity: 1;
   
}
.content_block{
    display: none;
}
.content__block2{
    margin-bottom: 40px;
}
.list2__block1{
    display: flex;
    flex-direction: column;
    gap: 20px;  
}
.list2__button{
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    width: 100%;
    height: 44px; 
    border: 3px solid #2196F3;
    background-color: rgba(61, 79, 100, 1);
    justify-content: center;
    align-content: center;
    padding: 10px 16px;
    transition: all 0.3s ease 0s;
    margin-bottom: 40px;
}
.button__light:hover {
    opacity: 0.8;
  }
  .font__14-700__white{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }










@media (max-width: 1315px) {
    .header__nav {
        margin: 0 15px;
    }

    .lighthouse__main1_1 {
        margin-right: auto;

    }

    .lighthouse__main1 {
        padding-left: 20px;
        padding-top: 2%;
    }

    .lighthouse__main2 {
        padding-top: 10px;
    }

    .list2__container {
        padding-left: 20px;
        padding-right: 20px;
    }
}